@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <br/><br/>
    <h2>@ViewBag.Message</h2>
</hgroup>
<script>
    $(document).ready(function () {

        $('section.main-content').css('background', 'transparent');

    });
</script>