@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1 class="pageTitle" style="font-size: 46px">@ViewBag.Title</h1>
    
    <h2>@ViewBag.Message</h2>
</hgroup>

<script>
    $(document).ready(function () {
        $('section.main-content').css('background', 'transparent');
    });
</script>