@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1 class="pageTitle" style="font-size: 46px">@ViewBag.Title</h1>
    
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="github-card" data-github="jmstefans/FlavorOfTheMonth" data-width="400" data-height="" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<script>
    $(document).ready(function () {
        $('section.main-content').css('background', 'transparent');
    });
</script>