@using FlavorOfTheMonth
@model IEnumerable<Character>

<h3>Teams</h3>
<table>
    <tr>
        <th>CharacterID</th>
        <th>Name</th>
        <th>Server</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.CharacterID</td>
            <td>@c.Name</td>
            <td>@c.Server</td>
        </tr>
    }
</table>