@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about flavor of the month and how you can help visit the
                @Html.ActionLink("About page", "About", "Home").
            </p>
        </div>
    </section>
}
<section title="Region">
    <h3>Region</h3>
    <button type="button" class="btn btn-primary">US</button>
    <button type="button" class="btn btn-primary">EU</button>
    <button type="button" class="btn btn-primary">KR</button>
    <button type="button" class="btn btn-primary">TW</button>
    <button type="button" class="btn btn-primary">CN</button>
    <button type="button" class="btn btn-primary">SEA</button>
</section>

<section title="Bracket">
    <h3>Bracket</h3>
    <button type="button" class="btn btn-primary">2v2</button>
    <button type="button" class="btn btn-primary">3v3</button>
    <button type="button" class="btn btn-primary">5v5</button>
    <button type="button" class="btn btn-primary">RBG</button>
</section>