@model FlavorOfTheMonth.Models.HomeModel
@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about flavor of the month and how you can help visit the
                @Html.ActionLink("About page", "About", "Home").
            </p>
        </div>
    </section>
}

@*Regions*@
<section>
    <h3 id="hdrRegion">Regions</h3>
    <div class="btn-group" role="group" aria-label="hdrRegion" data-toggle="buttons">
        <label class="btn btn-primary active">
            <input type="radio" name="options" id="iUS" autocomplete="off" checked>US
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="iEU" autocomplete="off">EU
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="iKR" autocomplete="off">KR
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="iTW" autocomplete="off">TW
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="iCN" autocomplete="off">CN
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" id="iSEA" autocomplete="off">SEA
        </label>
    </div>
</section>

@*Brackets*@
<section>
    <h3 id="hdrBracket">Brackets</h3>
    <div class="btn-group" role="group" aria-label="hdrBracket" data-toggle="buttons">
        <label class="btn btn-primary active" onclick="refresh(2)">
            <input type="radio" name="options" id="i2v2" autocomplete="off" checked>2v2
        </label>
        <label class="btn btn-primary" onclick="refresh(3)">
            <input type="radio" name="options" id="i3v3" autocomplete="off">3v3
        </label>
        <label class="btn btn-primary" onclick="refresh(5)">
            <input type="radio" name="options" id="i5v5" autocomplete="off">5v5
        </label>
        <label class="btn btn-primary" onclick="refresh(15)">
            <input type="radio" name="options" id="iRBG" autocomplete="off">RBG
        </label>
    </div>
</section>

@*Filters*@
<section>
    <h3>Filters</h3>
    @for (var i = 0; i < (int)(Model.CurBracket); i++)
    {
        <div class="dropdown inlineBlock">
            <button class="btn btn-default dropdown-toggle" type="button" id="@("ddClass"+i)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select a class...
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="ddClass@i">
                @foreach (var wowClass in Model.ClassModel.ClassesList)
                {
                    <li><a href="#">@wowClass</a></li>
                }
            </ul>
        </div>
    }
</section>

<section>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddSpec1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a spec...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddSpec1">
            <li><a href="#">Frost</a></li>
            <li><a href="#">Blood</a></li>
            <li><a href="#">Unholy</a></li>
        </ul>
    </div>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddSpec2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a spec...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddSpec2">
            <li><a href="#">Restoration</a></li>
            <li><a href="#">Guardian</a></li>
            <li><a href="#">Feral</a></li>
            <li><a href="#">Balance</a></li>
        </ul>
    </div>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddSpec3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a spec...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddSpec3">
            <li><a href="#">Beast Mastery</a></li>
            <li><a href="#">Marksmanship</a></li>
            <li><a href="#">Survival</a></li>
        </ul>
    </div>
</section>

@*Teams*@
<section>
    <h3>Teams</h3>
</section>

@*Scripts*@
<script>
    function refresh() {
        // Ajax to get new server data if a new region or bracket was picked.

        // Client-side updates like amount of class dropdowns to display.
        alert('test');
    }
</script>