@model FlavorOfTheMonth.Models.HomeModel
@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about flavor of the month and how you can help visit the
                @Html.ActionLink("About page", "About", "Home").
            </p>
        </div>
    </section>
}

@*Regions*@
<section>
    <h3 id="hdrRegion">Regions</h3>
    <div class="btn-group" role="group" aria-label="hdrRegion" data-toggle="buttons">
        <label class="btn btn-primary active" onclick="javascript: document.getElementById('iUS').checked = true; refresh()">
            <input type="radio" name="regions" id="iUS" autocomplete="off" value="US" checked>US
        </label>
        <label class="btn btn-primary" onclick="javascript: document.getElementById('iEU').checked = true; refresh()">
            <input type="radio" name="regions" id="iEU" autocomplete="off" value="EU">EU
        </label>
        <label class="btn btn-primary" onclick="javascript: document.getElementById('iKR').checked = true; refresh()">
            <input type="radio" name="regions" id="iKR" autocomplete="off" value="KR">KR
        </label>
        <label class="btn btn-primary" onclick="javascript: document.getElementById('iTW').checked = true; refresh()">
            <input type="radio" name="regions" id="iTW" autocomplete="off" value="TW">TW
        </label>
        <label class="btn btn-primary" onclick="javascript: document.getElementById('iCN').checked = true; refresh()">
            <input type="radio" name="regions" id="iCN" autocomplete="off" value="CN">CN
        </label>
        <label class="btn btn-primary" onclick="javascript: document.getElementById('iSEA').checked = true; refresh()">
            <input type="radio" name="regions" id="iSEA" autocomplete="off" value="SEA">SEA
        </label>
    </div>
</section>

@*Brackets*@
<section>
    <h3 id="hdrBracket">Brackets</h3>
    <div class="btn-group" role="group" aria-label="hdrBracket" data-toggle="buttons">
        <label class="btn btn-primary" onclick="javascript: document.getElementById('i2v2').checked = true; refresh()">
            <input type="radio" name="brackets" id="i2v2" autocomplete="off" value="2v2">2v2
        </label>
        <label class="btn btn-primary active" onclick="javascript: document.getElementById('i3v3').checked = true; refresh()">
            <input type="radio" name="brackets" id="i3v3" autocomplete="off" value="3v3" checked="">3v3
        </label>
        <label class="btn btn-primary" onclick="javascript: document.getElementById('i5v5').checked = true; refresh()">
            <input type="radio" name="brackets" id="i5v5" autocomplete="off" value="5v5">5v5
        </label>
        <label class="btn btn-primary" onclick="javascript: document.getElementById('iRBG').checked = true; refresh()">
            <input type="radio" name="brackets" id="iRBG" autocomplete="off" value="rbg">RBG
        </label>
    </div>
</section>

@*Filters*@
<section id="sfilter">
    @Html.Partial("RefreshData")
</section>

@*Teams*@
<section id="sTeams">
    @Html.Partial("TeamsPartial")
</section>

@*Scripts*@
<script>
    $(document).ready(function () {

        // Example AJAX functionality
        $('#btnAjax').click(function () {
            $.ajax({
                url: '/Home/GetCharacters',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'

            })
            .success(function (result) {
                $('#characters').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })
        });

    });

    // Refreshes the data on the screen after a filter, bracket, or
    // was changed.
    function refresh() {
        // Ajax to get new server data if any button was pressed.
        var test = JSON.stringify(buildJsonRequestObj());
        $.post('/Home/RefreshData', { paramObj: test }, function (result) {
            $('#sfilter').html(result);
        });
    }

    // Builds a JSON object which is essentially a snapshot of all the 
    // current filter, bracket, and region choices.
    function buildJsonRequestObj() {
        var jsonData = {};
        var region = $('input[name=regions]:checked').val();
        var bracket = $('input[name=brackets]:checked').val();
        var classes = [];
        $.each($('[id^="ddClass"]'), function (i) {
            classes[i] = $(this).html().replace('<span class="caret"></span>', '');
        });
        var specs = [];
        $.each($('[id^="ddSpec"]'), function (i) {
            specs[i] = $(this).html().replace('<span class="caret"></span>', '');
        });
        jsonData.region = region;
        jsonData.bracket = bracket;
        jsonData.classes = classes;
        jsonData.specs = specs;
        return jsonData;
    }

    // Change dropdown text to fake functionality of a select element
    function updateDropdownText(e) {
        if (!e)
            e = window.event;
        var selText = $(e).text();
        $(e).parents('.hack').find('button[data-toggle="dropdown"]').html(selText + ' <span class="caret"></span>');
    }

    // Update the spec button text to be "Select a spec..." when the corresponding class filter is clicked
    function updateSpecButtonText(index) {
        var id = '#ddSpec' + index;
        $(id).text('Select a spec...');
    }

    </script>
