@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about flavor of the month and how you can help visit the
                @Html.ActionLink("About page", "About", "Home").
            </p>
        </div>
    </section>
}
<h3>US 3v3 Arena Bracket</h3>