@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about flavor of the month and how you can help visit the
                @Html.ActionLink("About page", "About", "Home").
            </p>
        </div>
    </section>
}
<section>
    <h3>Region</h3>
    <button type="button" class="btn btn-primary">US</button>
    <button type="button" class="btn btn-primary">EU</button>
    <button type="button" class="btn btn-primary">KR</button>
    <button type="button" class="btn btn-primary">TW</button>
    <button type="button" class="btn btn-primary">CN</button>
    <button type="button" class="btn btn-primary">SEA</button>
</section>

<section>
    <h3>Bracket</h3>
    <button type="button" class="btn btn-primary">2v2</button>
    <button type="button" class="btn btn-primary">3v3</button>
    <button type="button" class="btn btn-primary">5v5</button>
    <button type="button" class="btn btn-primary">RBG</button>
</section>

<section>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddClass1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a class...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddClass1">
            <li><a href="#">Death Knight</a></li>
            <li><a href="#">Druid</a></li>
            <li><a href="#">Hunter</a></li>
            <li><a href="#">Mage</a></li>
            <li><a href="#">Monk</a></li>
            <li><a href="#">Paladin</a></li>
            <li><a href="#">Priest</a></li>
            <li><a href="#">Rogue</a></li>
            <li><a href="#">Shaman</a></li>
            <li><a href="#">Warlock</a></li>
            <li><a href="#">Warrior</a></li>
            @*<li role="separator" class="divider"></li>*@
        </ul>
    </div>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddClass2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a class...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddClass2">
            <li><a href="#">Death Knight</a></li>
            <li><a href="#">Druid</a></li>
            <li><a href="#">Hunter</a></li>
            <li><a href="#">Mage</a></li>
            <li><a href="#">Monk</a></li>
            <li><a href="#">Paladin</a></li>
            <li><a href="#">Priest</a></li>
            <li><a href="#">Rogue</a></li>
            <li><a href="#">Shaman</a></li>
            <li><a href="#">Warlock</a></li>
            <li><a href="#">Warrior</a></li>
        </ul>
    </div>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddClass3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a class...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddClass3">
            <li><a href="#">Death Knight</a></li>
            <li><a href="#">Druid</a></li>
            <li><a href="#">Hunter</a></li>
            <li><a href="#">Mage</a></li>
            <li><a href="#">Monk</a></li>
            <li><a href="#">Paladin</a></li>
            <li><a href="#">Priest</a></li>
            <li><a href="#">Rogue</a></li>
            <li><a href="#">Shaman</a></li>
            <li><a href="#">Warlock</a></li>
            <li><a href="#">Warrior</a></li>
        </ul>
    </div>
</section>

<section>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddSpec1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a class...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddSpec1">
            <li><a href="#">Frost</a></li>
            <li><a href="#">Blood</a></li>
            <li><a href="#">Unholy</a></li>
        </ul>
    </div>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddSpec2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a class...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddSpec2">
            <li><a href="#">Restoration</a></li>
            <li><a href="#">Guardian</a></li>
            <li><a href="#">Feral</a></li>
            <li><a href="#">Balance</a></li>
        </ul>
    </div>
    <div class="dropdown inlineBlock">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddSpec3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select a class...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddSpec3">
            <li><a href="#">Beast Mastery</a></li>
            <li><a href="#">Marksmanship</a></li>
            <li><a href="#">Survival</a></li>
        </ul>
    </div>
</section>

@*Teams*@
<section>

</section>