@using FlavorOfTheMonth.Models

@model FlavorOfTheMonth.Models.HomeModel

<table id="dataTable">
    <thead>
        <tr>
            <th class="center">Teams</th>
            <th class="center">Percentage</th>
        </tr>
    </thead>
    <tbody class="rowAlternating">
        @foreach (CompPercentModel team in Model.TeamModel.Comps)
        {
            <tr>
                <td>@team.strComp</td>
                <td>@((int)(Model.TeamModel.Comps[Model.TeamModel.Comps.IndexOf(team)].Percentage * 100) + "%") </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TeamModel.Comps.Count < 1)
{
    @: No results :(
}