@using FlavorOfTheMonth.Models

@model FlavorOfTheMonth.Models.HomeModel

<table id="dataTable">
    <thead>
        <tr>
            <th class="center">Teams</th>
            <th class="center">Percentage</th>
        </tr>
    </thead>
    <tbody class="rowAlternating">
        @foreach(string team in Model.TeamModel.TeamList)
        {
            <tr>
                <td>@team</td>
                <td>@(Model.TeamModel.PercentageList.ElementAt(Model.TeamModel.TeamList.IndexOf(team)) + "%") </td>
            </tr>
        }
    </tbody>
</table>