SELECT * FROM [fotm].[dbo].[Character]

SELECT * FROM [fotm].[dbo].[PvpStats]

SELECT * FROM [fotm].[dbo].[RatingChange]


DELETE FROM [fotm].[dbo].[Character]

DELETE FROM [fotm].[dbo].[PvpStats]

DELETE FROM [fotm].[dbo].[RatingChange]