<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fotm.DAL.Properties.Settings.fotmConnectionString"
            connectionString="Data Source=.;Initial Catalog=fotm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fotm.DAL.Properties.Settings.fotmConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=fotm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>